<div class="row">
    <div class="col">
        <div class="card" style="width:auto">
            <div class="card-body">
                <h5 class="card-title"><a href="../articles/{{this._id}}">{{this.title}}</a></h5>
                <p class="card-text">{{this.text}}</p>
                <a href="{{this.link}}">Link to Article</a>
            </div>
        </div>
    </div>
</div>