<div class="row">
    <div class="mb-3 mt-3 col">
        <div class="card" style="width:auto">
            <div class="card-body">
                <h5 class="card-title">{{note.title}}</h5>
                <h6 class="card-text">{{note.body}}</h6>
            </div>
        </div>
    </div>
</div>