<div class="m-1 p-2 jumbotron text-center">
    <h1 class="display-4">News Scraper</h1>
    <p class="lead">ALL YOUR NEWS R BELONG TO US</p>
    <hr class="my-2 jumbo">
    <a class="btn btn-primary btn-lg" href="../articles" role="button">Look at my JSON!</a>
    <a class="btn btn-warning btn-lg" href="../scrape">SCRAPE!</a>
    <hr class="my-2 jumbo">
    <sub>Background photo by <a
            href="https://www.pexels.com/@brotin-biswas-158640?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">brotiN
            biswaS</a> from <a
            href="https://www.pexels.com/photo/advertisements-batch-blur-business-518543/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a></sub>
</div>