<div id="container">
    {{!-- <div class="row"> --}}
        {{!-- <div class="col"> --}}
            {{#each article}}
            {{> article}}
            {{/each}}
        {{!-- </div> --}}
        {{!-- <div class="col">
            {{#each note}}
            NOTE
            {{> note}}
            {{/each}}
        </div> --}}
    {{!-- </div> --}}
</div>