body {
    font-family: 'Roboto',
        sans-serif;
}

hr.jumbo {
    width: 50%;
}

.jumbotron {
    background-image: url(../img/newspaper.jpg);
    background-size: 100%;
    background-position: center;
}

span.vr{
    display: inline-block;
    border-left: 2px solid grey;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 1.5em;
}